body {
    font-family:'Courier New', Courier, monospace;
}

h1 {
    font-size:10vh;
}

a {
    color:blue;
}

.desc {
    font-size:2vh;
}

.bottom-stick {
    position:fixed;
    top:35%;
}

.fullscreen {
    display: flex;
    height: 100%;
    width: 100%;
    margin:5%;
    padding:0;
}

#logo {
    width:33%;
    height:auto;
    position:fixed;
    right:10%;
}